.button {
  display: inline-flex;
  align-items: flex-end;
  padding: 0.8em 2.7em;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background: none;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0.5em;
}
