@import '../utils/mixins';
.footer {
  width: 100%;
  background: $black-dark;
  color: $white;
  padding: 0;
  @include breakpoint('xs') {
    padding: 0 1.5em;
  }
  @include breakpoint('m') {
    padding: 0 2em;
  }
  .row {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  &__copyright {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    @include breakpoint('xs') {
      flex: 3;
      margin: 1em 0;
      text-align: left;
      display: flex;
      align-items: center;
    }
    @include breakpoint('m') {
    }
  }
  &__navigation {
    display: flex;
    width: 80%;
    margin: 0;
    padding: 0;
    @include breakpoint('xs') {
      max-width: 20em;
      flex: 2;
    }
    @include breakpoint('s') {
    }
    &__item {
      list-style: none;
      flex: 1;
      height: 3.3em;
      position: relative;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: $purple-dark;
      }
      @include breakpoint('s') {
        height: 4em;
      }
    }
    &__link {
      display: inline-block;
    }
  }
}
